/* Image styles */
img#logo {
    height: 40px;
    width: auto;
}

/* div styles */

div > div#card {
    position: relative;
    height: 80%;
    width: 80%;
    left: calc(50% - 40%);
    top: calc(50% - 40%);
}

body {
    background-color: rgb(38, 41, 57);;
}

div#startPagePosts {
    background-color: white;
    padding-bottom: 10em;
}

p {
    color: black;
}